/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*fonts*/
/*padding*/
/*colors*/
html {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
}

.container {
  width: 100%;
  padding-right: 3.2vw;
  padding-left: 3.2vw;
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: "Playfair Display", serif;
  font-style: normal;
  color: #333333;
}
.heading.heading-lg {
  color: #000000;
  font-size: 1.7142857143rem;
  font-weight: 700;
  line-height: 2.2857142857rem;
}
.heading.heading-md {
  font-size: 1.7142857143rem;
  font-weight: 700;
  line-height: 2.2857142857rem;
}
.heading.heading-sm {
  font-size: 1.2857142857rem;
  font-weight: 700;
  line-height: 1.7142857143rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
  margin-bottom: 24px;
}
header .description {
  display: flex;
  align-items: baseline;
  gap: 12px;
  padding-right: 10px;
  color: #4F4F4F;
  font-style: italic;
  font-size: 0.8571428571rem;
  font-weight: 500;
  line-height: 1.0714285714rem;
}
header .banner-img {
  margin-top: 5px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20.75px;
  margin-bottom: 30.25px;
}
aside .block {
  width: fit-content;
  display: grid;
  grid-template-areas: "icon title" "icon info";
  column-gap: 5.52px;
}
aside .block .icon {
  grid-area: icon;
}
aside .block .title {
  grid-area: title;
  font-size: 0.5714285714rem;
  font-weight: 700;
  line-height: 0.7142857143rem;
  color: #BDBDBD;
  text-transform: uppercase;
}
aside .block .info {
  grid-area: info;
  font-size: 0.7142857143rem;
  font-weight: 500;
  line-height: 0.8571428571rem;
}
aside .icon-clock path {
  fill: #4F4F4F;
}

.header .info {
  color: #F2994A;
}
.header .icon path {
  fill: #F2994A;
}

.times {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 26px;
}

.section-ingredients .heading-sm {
  margin-bottom: 13px;
}
.section-ingredients .ingredients {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.food {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.food .food-name {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.2857142857rem;
  font-weight: 400;
  line-height: 1.7142857143rem;
}
.food .ingredient-list {
  display: flex;
  flex-direction: column;
}
.food .ingredient-list li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7857142857rem;
  display: grid;
  grid-template-columns: 21px 1fr;
  gap: 8px;
}
.food .ingredient-list li em {
  font-weight: 700;
}
.food .ingredient-list .checkbox {
  position: relative;
  width: 21px;
  height: 21px;
  user-select: none;
  overflow: hidden;
  margin: 0;
}
.food .ingredient-list .checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}
.food .ingredient-list .checkbox .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #828282;
  border-radius: 4px;
}
.food .ingredient-list .checkbox .background::after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 30%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) translateX(-60%);
}
.food .ingredient-list .checkbox:hover input ~ .background {
  border: 1px solid #F2994A;
}
.food .ingredient-list .checkbox input:checked ~ .background {
  background-color: #F2994A;
  border: 1px solid white;
}
.food .ingredient-list .checkbox input:checked ~ .background::after {
  display: block;
}

.section-instructions {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.section-instructions .instructions {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section-instructions .instruction {
  display: grid;
  grid-template-columns: 36px 1fr;
  column-gap: 15px;
  font-size: 1.1428571429rem;
  font-weight: 400;
  line-height: 1.4285714286rem;
}
.section-instructions .instruction .order {
  font-family: "Playfair Display", serif;
  font-size: 1.7142857143rem;
  font-weight: 700;
  line-height: 1.7142857143rem;
  background: #F2994A;
  border-radius: 6px;
  color: white;
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
}
.section-instructions .instruction .order span {
  transform: translateY(-4px);
}
.section-instructions .instruction .order .six {
  transform: translateY(-3px);
}

.recipe-source {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #BDBDBD;
}
.recipe-source a {
  display: block;
  text-decoration: none;
  color: #BDBDBD;
}
.recipe-source a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2142857143rem;
  color: #828282;
  margin-bottom: 24px;
}
footer a {
  color: #828282;
  text-decoration: none;
  font-weight: 700;
}
footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .heading.heading-lg {
    font-size: 3.4285714286rem;
    font-weight: 700;
    line-height: 4.5714285714rem;
  }
  .heading.heading-md {
    font-size: 1.7142857143rem;
    font-weight: 700;
    line-height: 2.2857142857rem;
  }
  .heading.heading-sm {
    font-size: 1.7142857143rem;
    font-weight: 700;
    line-height: 2.2857142857rem;
  }

  header {
    margin-top: 52;
    margin-bottom: 48px;
    gap: 16px;
  }
  header .description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2142857143rem;
    width: 44.0714285714rem;
  }
  header .banner-img {
    margin-top: 32px;
  }

  aside .icon {
    width: 28.33px;
    height: auto;
  }
  aside .title {
    font-size: 0.7142857143rem;
    font-weight: 700;
    line-height: 0.8571428571rem;
  }
  aside .info {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2142857143rem;
  }

  main {
    margin-bottom: 93px;
  }

  .food {
    gap: 30px;
  }
  .food .ingredient-list {
    gap: 13px;
  }
  .food .ingredient-list li {
    gap: 17px;
    font-size: 1.1428571429rem;
    font-weight: 400;
    line-height: 1.7857142857rem;
  }

  .section-ingredients {
    margin-bottom: 28px;
  }
  .section-ingredients .heading-sm {
    margin-bottom: 32px;
  }
  .section-ingredients .ingredients {
    gap: 38px;
  }

  .section-instructions {
    gap: 32px;
  }
  .section-instructions .instructions {
    gap: 29px;
  }

  .recipe-source {
    font-size: 1.1428571429rem;
  }
}
@media screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-areas: "head head" "main aside" "foot foot";
    column-gap: 11.8055555556vw;
    padding-right: 16.3888888889vw;
    padding-left: 16.3888888889vw;
  }
  .container header {
    grid-area: head;
  }
  .container main {
    grid-area: main;
  }
  .container aside {
    grid-area: aside;
  }
  .container footer {
    grid-area: foot;
  }

  header {
    margin-top: 52;
    margin-bottom: 48px;
    gap: 16px;
  }
  header .description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2142857143rem;
    width: 44.0714285714rem;
  }
  header .banner-img {
    margin-top: 32px;
  }

  aside {
    width: 15vw;
    height: fit-content;
    gap: 43px;
    padding-top: 57px;
    padding-bottom: 57px;
    padding-left: 2.9861111111vw;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  .header .icon {
    width: 27.1px;
    height: auto;
  }

  .times {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }

  main {
    gap: 0;
  }

  .section-instructions {
    margin-bottom: 57px;
  }
  .section-instructions .instructions .instruction {
    column-gap: 1.0416666667vw;
  }

  .recipe-source a {
    display: inline;
  }
}

/*# sourceMappingURL=style.css.map */
