@import "./libs/reset.scss";
@import "./libs/functions.scss";
@import "./libs/mixins.scss";

/*fonts*/
$font-primary:'Montserrat', sans-serif;;
$font-secondary: 'Playfair Display', serif;
/*padding*/
$padding-mobile: widthInVW(12);
$padding-desktop: widthInVW(236, 1440);
/*colors*/
$color-primary: #333333;
$color-secondary: #000000;
$color-tertiary: #BDBDBD;
$color-fancy: #F2994A;

html{
    font-size: 14px;
    font-family: $font-primary;
    color: $color-primary;
}
.container{
    width: 100%;
    padding: {
        right: $padding-mobile;
        left: $padding-mobile;
    };
    display: flex;
    flex-direction: column;
}
.heading{
    font-family: $font-secondary;
    font-style: normal;
    color: $color-primary;
    &.heading-lg{
        color: $color-secondary;
        @include setFontProps(24, 32, 700);
    }
    &.heading-md{
        @include setFontProps(24, 32, 700);
    }
    &.heading-sm{
        @include setFontProps(18, 24, 700);
    }
}
header{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 24px;
    .description{
        display: flex;
        align-items: baseline;
        gap: 12px;
        padding-right: 10px;
        color: #4F4F4F;
        font-style: italic;
        @include setFontProps(12, 15, 500);
    }
    .banner-img{
        margin-top: 5px;
        width: 100%;
        height: auto;
        border-radius: 12px;
    }
}
aside{
    display: flex;
    flex-direction: column;
    gap: 20.75px;
    margin-bottom: 30.25px;
    .block{
        width: fit-content;
        display: grid;
        grid-template-areas: 
        "icon title"
        "icon info";
        column-gap: 5.52px;
        .icon{
            grid-area: icon;
        }
        .title{
            grid-area: title;
            @include setFontProps(8, 10, 700);
            color: $color-tertiary;
            text-transform: uppercase;
        }
        .info{
            grid-area: info;
            @include setFontProps(10, 12, 500);
        }
    }
    .icon-clock{
        path{
            fill: #4F4F4F;
        }
    }
}
.header{
    .info{
        color: $color-fancy;
    }
    .icon{
        path{
            fill: $color-fancy;
        }
    }
}
.times{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 26px;
}
.section-ingredients{
    .heading-sm{
        margin-bottom: 13px;
    }
    .ingredients{
        display: flex;
        flex-direction: column;
        gap: 39px;
    }
}
.food{
    display: flex;
    flex-direction: column;
    gap: 23px;
    .food-name{
        font-family: $font-secondary;
        font-style: italic;
        @include setFontProps(18, 24, 400);
    }
    .ingredient-list{
        display: flex;
        flex-direction: column;
        li{
            @include setFontProps(14, 25, 400);
            display: grid;
            grid-template-columns: 21px 1fr;
            gap: 8px;
            em{
                font-weight: 700;                    
            }
        }
        .checkbox{
            position: relative;
            width: 21px;
            height: 21px;
            user-select: none;
            overflow: hidden;
            margin: 0;
            input{
                position: absolute;
                width: 0;
                height: 0;
                opacity: 0;
                cursor: pointer;
            }
            .background{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: 1px solid #828282;
                border-radius: 4px;
                &::after{
                    content: "";
                    position: absolute;
                    display: none;
                    left: 50%;
                    top: 30%;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg) translateX(-60%);
                }
            }
            &:hover input ~ .background{
                border: 1px solid $color-fancy;
            }
            & input:checked ~ .background{
                background-color: $color-fancy;
                border: 1px solid white;
            }
            & input:checked ~ .background::after{
                display: block;
            }
        }
    }
}
.section-instructions{
    display: flex;
    flex-direction: column;
    gap: 28px;
    .instructions{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .instruction{
        display: grid;
        grid-template-columns: 36px 1fr;
        column-gap: 15px;
        @include setFontProps(16, 20, 400);
        .order {
            font-family: $font-secondary;
            @include setFontProps(24, 24, 700);
            background: $color-fancy;
            border-radius: 6px;
            color: white;
            width: 36px;
            height: 36px;
            display: grid;
            place-items: center;
            span{
                transform: translateY(-4px);
            }
            .six{
                transform: translateY(-3px);
            }
        }
    }
}
.recipe-source{
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $color-tertiary;
    a{
        display: block;
        text-decoration: none;
        color: $color-tertiary;
        &:hover{
            text-decoration: underline;
        }
    }
}
footer{
    text-align: center;
    @include setFontProps(14, 17, 500);
    color: #828282;
    margin-bottom: 24px;
    a{
        color: #828282;
        text-decoration: none;
        font-weight: 700;
        &:hover{
            text-decoration: underline;
        }
    }
}
@media screen and (min-width: 992px) {
    .container{
        display: grid;
        grid-template-areas: 
        "head head"
        "main aside"
        "foot foot";
        column-gap: widthInVW(170, 1440);
        padding: {
            right: $padding-desktop;
            left: $padding-desktop;
        };
        header{
            grid-area: head;
        }
        main{
            grid-area: main;
        }
        aside{
            grid-area: aside;
        }
        footer{
            grid-area: foot;
        }
    }
    .heading{
        &.heading-lg{
            @include setFontProps(48, 64, 700);
        }
        &.heading-md{
            @include setFontProps(24, 32, 700);
        }
        &.heading-sm{
            @include setFontProps(24, 32, 700);
        }
    }
    header{
        margin-top: 52;
        margin-bottom: 48px;
        gap: 16px;
        .description{
            @include setFontProps(14, 17, 500);
            width: widthInVW(592, 1440);
        }
        .banner-img{
            margin-top: 32px;
        }
    }
    aside{
        width: widthInVW(216, 1440);
        height: fit-content;
        gap: 43px;
        padding: {
            top: 57px;
            bottom: 57px;
            left: widthInVW(43, 1440);
        };
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        .icon{
            width: 28.33px;
            height: auto;
        }
        .title{
            @include setFontProps(10, 12, 700);
        }
        .info{
            @include setFontProps(14, 17, 500);
        }
    }
    .header{
        .icon{
            width: 27.10px;
            height: auto;
        }
    }
    .times{
        display: flex;
        flex-direction: column;
        gap: 42px;
    }
    main{
        margin-bottom: 93px;
        gap: 0;
    }
    .section-ingredients{
        margin-bottom: 28px;
        .heading-sm{
            margin-bottom: 32px;
        }
        .ingredients{
            gap: 38px;
        }
    }
    .food{
        gap: 30px;
        .ingredient-list{
            gap: 13px;
            li{
                gap: 17px;
                @include setFontProps(16, 25, 400);
            }
        }
    }
    .section-instructions{
        gap: 32px;
        margin-bottom: 57px;
        .instructions{
            gap: 29px;
            .instruction{
                column-gap: widthInVW(15, 1440);
            }
        }
    }
    .recipe-source{
        font-size: fontSizeInRem(16);
        a{
            display: inline;
        }
    }
}